<div class = "container">
  <div class = "row w-90 mx-auto">

    <!--バリデーションエラーメッセージ-->
    <div class = "error_messages">
      <%= render 'homes/post_error_message', post: @post %>
    </div>

    <h3 class = "post_title">投稿フォーム</h3>
    <%= form_with model: @post do |f| %>
      <div class = "post_contents">

        <table class="table text-nowrap">
          <thead>
            <tr>
              <th style="width: 50%"></th>
              <th style="width: 50%"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <div class = "label">投稿画像</p>
              </td>
              <td>
                <div class = "image_field">
                  <%= f.file_field :image, required: true, accept: "image/*" %>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class = "label">タイトル</p>
              </td>
              <td>
                <%= f.text_field :title, required: true %>
              </td>
            </tr>

            <tr>
              <td>
                <div class = "label">紹介</p>
              </td>
              <td>
                <%= f.text_area :introduction, required: true %>
              </td>
            </tr>

          </tbody>
        </table> <!--table範囲終了-->

      <%= f.submit '投稿' , class: "button" %>

    <% end %>
    </div> <!--post_contents閉じ-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->