<div class = "container">
  <div class = "row w-75 mx-auto">

    <!--バリデーションエラーメッセージ-->
    <%= render 'homes/error_message', post: @post %>

    <h3 class = "post_title">投稿フォーム</h3>
    <%= form_with model: @post do |f| %>
      <div class = "post_contents">

        <div class = "image_post">画像
          &nbsp;&nbsp;&nbsp;<!--空白-->
          <%= f.file_field :image, accept: "image/*" %>
        </div>
        <div class = "title_post">タイトル
          &nbsp;&nbsp;&nbsp;<!--空白-->
          <%= f.text_field :title %>
        </div>
        <div class = "introduction_post">紹介
          &nbsp;&nbsp;&nbsp;<!--空白-->
          <%= f.text_area :introduction %>
        </div>

      <%= f.submit '投稿' %>

    <% end %>
    </div> <!--post_contents閉じ-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->
