<div>
  <!--投稿詳細-->
  <%= image_tag @post.user.get_profile_image(100,100) %> <!--ユーザーアイコン-->
  <%= @post.user.name %></p> <!--名前-->
  <%= image_tag @post.get_image %> <!--投稿画像表示-->
  <p><%= @post.title %></p> <!--タイトル-->
  <p><%= @post.introduction %></p> <!--紹介文-->
  <p><%= link_to "#{@post.comments.count} コメント", post_path(current_user) %></p> <!--コメント数-->

  <% if @post.user == current_user %> <!--投稿者とログイン中ユーザーが一致した場合のみ削除ボタン表示-->
    <%= link_to "削除", post_path(@post), method: :delete %>
  <% end %>

  <!--いいね機能テンプレート化-->
  <%= render 'public/favorites/favorite', post: @post %>
</div>

<div> <!--コメント投稿フォーム-->
  <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
</div>

<div> <!--コメント一覧-->
  <%= render 'public/comments/comment_list', post: @post %>
</div>

