<div class = "container-lg ">
  <div class = "row w-75 mx-auto">
    <div class = "col">

      <div class = "card">
          <div class = "card-body">

            <!--投稿詳細-->
            <%= link_to user_path(@post.user) do %> <!--画像リンク化-->
              <%= image_tag @post.user.get_profile_image(100,100), class: 'frofile_image' %><!--ユーザーアイコン-->
              &nbsp;<!--空白-->
              <%= @post.user.name %> <!--名前-->
            <% end %>
            <%= image_tag @post.get_image, class: 'post_image'%> <!--投稿画像表示-->
            <div class = "text">
              <!--タイトル-->
              <h2 class="title"><%= @post.title %></h2>

              <!--紹介文-->
              <%= simple_format(@post.introduction) %>

               <!--投稿日-->
              <div class="text-end">
                <small class="text-black-50">
                  <%= @post.created_at.strftime('%Y/%m/%d  %H:%M') %>
                </small>
              </div>
            </div>

            <div class = "under_content">
              <div class = "user_reactions">
                <div id = "favorite_button">
                  <!--いいね機能テンプレート化-->
                  <%= render 'public/favorites/favorite', post: @post %>
                </div>
                <div id = "comment_count">
                  <!--コメント数-->
                  <%= "#{@post.comments.count} コメント" %>
                </div>
              </div>

                <!--投稿者とログイン中ユーザーが一致した場合のみ削除ボタン表示-->
              <div class = "post_delete">
                <% if @post.user == current_user %>
                  <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "投稿を削除しますか？"} %>
                <% end %>
              </div>
            </div> <!--under_content閉じ-->

            <div class = "comment_contents">
              <!--コメント投稿フォーム-->
              <div id = "comment_form">
                <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
              </div>

              <!--コメント一覧-->
              <div id = "comment_list">
                <%= render 'public/comments/comment_list', post: @post %>
              </div>
            </div> <!--comment_contents閉じ-->

          </div> <!--card-body閉じ-->
        </div> <!--card m-3閉じ-->

    </div> <!--col閉じ-->
  </div> <!--row閉じ-->
</div> <!--container閉じ-->

