<div class = "container">
  <div class="row">
    <div class="col">

      <div class = "card m-3 ">
          <div class = "card-body">

          <!--投稿詳細-->
          <%= image_tag @post.user.get_profile_image(100,100) %> <!--ユーザーアイコン-->
          <%= @post.user.name %></p> <!--名前-->
          <%= image_tag @post.get_image %> <!--投稿画像表示-->
          <p><%= @post.title %></p> <!--タイトル-->
          <p><%= @post.introduction %></p> <!--紹介文-->
          <p><%= "#{@post.comments.count} コメント" %></p> <!--コメント数-->

          <!--投稿者とログイン中ユーザーが一致した場合のみ削除ボタン表示-->
          <% if @post.user == current_user %>
            <%= link_to "削除", post_path(@post), method: :delete %>
          <% end %>

          <!--いいね機能テンプレート化-->
          <div id = "favorite_buttons">
            <%= render 'public/favorites/favorite', post: @post %>
          </div>

          <!--コメント投稿フォーム-->
          <div>
            <%= render 'public/comments/comment_form', post: @post, comment: @comment %>
          </div>

          <!--コメント一覧-->
          <div>
            <%= render 'public/comments/comment_list', post: @post %>
          </div>

          </div>
        </div>

    </div>
  </div>
</div>