<!--2行目の「post」部分が元インスタンス変数-->
<% post.comments.each do |comment| %>

  <div class = "card h-50">
    <div class = "card-body">

      <div class = "comment">

        <!--ユーザー情報-->
        <div class = "comment_user_profile">
            <div class = "comment_user_image">
              <%= link_to user_path(comment.user) do %> <!--リンク化-->
                <%= image_tag comment.user.get_profile_image(700,700), class: 'frofile_image' %> <!--ユーザーアイコン-->
              <% end %>
            </div>
            <div class = "comment_user_name">
              <%= link_to user_path(comment.user) do %> <!--リンク化-->
                <%= comment.user.name %> <!--名前-->
              <% end %>
          </div>
        </div>

        <!--コメント一覧-->
        <p class = "comment_wrap">
          <%= simple_format(comment.comment) %>
        </p>

        <div class = "comment_list_under">
          <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
        <div class = "comment_delete">
          <% if comment.user == current_user %> <!--コメント者とログイン中ユーザーが一致した場合のみ削除ボタン表示-->
            <%= link_to post_comment_path(comment.post, comment), method: :delete, remote: true, data: {confirm: "コメントを削除しますか？"} do%>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
        </div>

      </div> <!--comment閉じ-->

    </div> <!--card-body閉じ-->
  </div> <!--card閉じ-->

<% end %> <!--each閉じ-->