<div class = "container">
  <div class = "row">

    <h3 class = "title">検索結果</h3>
    <!--検索対象モデルがUserの時 -->
    <% if @range == "User" %>

      <table class="table mx-auto w-50">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %> <!--リンク化-->
                  <%= image_tag user.get_profile_image(700,700), class: 'result_frofile_image'%>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user) do %> <!--リンク化-->
                  <div class = "result_frofile_name"><%= user.name %></div>
                <% end %>
              </td>
            </tr>
          <% end %> <!--each文範囲終了-->
        </tbody>
      </table> <!--table範囲終了-->

    <% else %> <!--if文途中-->

      <div> <!--検索対象モデルがpostの時 -->
        <%= render 'public/posts/post_list', posts: @posts %>
      </div>

    <% end %> <!--if文範囲終了-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->
