<div style="background-image:url(../images/shibuya2.jpg);"></div>

<div class = "container">
  <div class = "row w-75 mx-auto">

    <!--バリデーション/user-->
    <div class = "error_messages">
      <%= render 'homes/user_error_message', user: @user %>
    </div>

    <h3 class = "sign_up_title">新規登録</h3>
    <%= form_with model: @user, url: user_registration_path do |f| %>
    <!--%= render "public/shared/error_messages", resource: resource %-->

      <div class = "sign_up_contents">
        <table class="table">
          <thead>
            <tr>
              <th scope="col w-50"></th>
              <th scope="col w-50"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td>
                  <%= f.label :name %>
                </td>
                <td>
                  <%= f.text_field :name, required: true %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :email %>
                </td>
                <td>
                 <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email" %>
                </td>
              </tr>

              <tr>
                <td>
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %>字以上)</em>
                  <% end %>
                </td>
                <td>
                  <%= f.password_field :password, required: true, autocomplete: "new-password" %>
                </td>
              </tr>

              <tr>
                <td>
                    <%= f.label :password_confirmation %>
                </td>
                <td>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </td>
              </tr>

          </tbody>
        </table> <!--table範囲終了-->

        <div class="actions">
          <%= f.submit "登録", class: "button" %>
        </div>

        <%= render "public/shared/links" %>

      </div> <!--sign_up_contents閉じ-->
    <% end %> <!--form_with終了-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->


<style>

.error_messages{
  margin: 3% 0 -7% 0;
}

.sign_up_title{
  margin-top: 7%;
  text-align: center;
}

.table{
  width: 100%;
  table-layout: fixed;
}

.sign_up_contents{
 text-align: center;
}

/*入力フォームデザイン*/
#user_name{
  border-radius: 130px;
  padding: 3px 10px;
  border-width: 1px;
}

#user_email{
  border-radius: 130px;
  padding: 3px 10px;
  border-width: 1px;
}

#user_password{
  border-radius: 130px;
  padding: 3px 10px;
  border-width: 1px;
}

#user_password_confirmation{
  border-radius: 130px;
  padding: 3px 10px;
  border-width: 1px;
}

.button{
  margin: 3% 0 3% 0;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: .8em 2em;
  border: none;
  border-radius: 25px;
  background-image: linear-gradient(90deg, rgba(254, 220, 64, 1), rgba(247, 130, 93, 1) 70%);
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.button:hover {
  opacity: 0.6;
}

</style>
