<div class = "container">
  <div class = "row w-90 mx-auto">

    <!--バリデーションエラーメッセージ-->
    <div class = "error_messages">
      <%= render 'homes/user_error_message', user: @user %>
    </div>

    <h3 class = "edit_title">プロフィール編集</h3>
    <%= form_with model: @user, method: :patch do |f| %>
      <div class = "edit_contents">

        <table class="table text-nowrap">
          <thead>
            <tr>
              <th style="width: 50%"></th>
              <th style="width: 50%"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <p class = "label">プロフィール画像</p>
              </td>
              <td>
                <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept: "image/*" %>
              </td>
            </tr>

            <tr>
              <td>
                 <p class = "label">ユーザー名</p>
              </td>
              <td>
                <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
              </td>
            </tr>

            <tr>
              <td>
                <p class = "label">自己紹介</p>
              </td>
              <td>
                <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction" %>
              </td>
            </tr>

          </tbody>
        </table> <!--table範囲終了-->

        <div class = "submit_button mx-auto">
          <%= f.submit "変更を保存" , class: "button" %>
        </div>

        <div class = "withdrawal_link">
          <%= link_to '退会', user_confirm_unsubscribe_path(@user.id) %>
        </div>

      </div> <!--edit_contents閉じ-->
    <% end %> <!--form_with終了-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->
