<div class = "container">
  <div class = "row w-75 mx-auto">

    <h3 class = "edit_title">プロフィール編集</h3>
    <%= form_with model: @user, method: :patch do |f| %>
      <div class = "edit_contents mx-auto">

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td>
                   <div class = "image_edit">
                      <label for="inputImage mx-auto">プロフィール画像</label>
                       &nbsp;&nbsp;&nbsp;<!--空白-->
                      <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept: "image/*" %>
                    </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class = "name_edit">
                    <label for="inputName">名前</label>
                      &nbsp;&nbsp;&nbsp;<!--空白-->
                      <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
                    </div>
                </td>
              </tr>

              <tr>
                <td>
                  <div class = "introduction_edit">
                    <label for="inputIntroduction">自己紹介</label>
                     &nbsp;&nbsp;&nbsp;<!--空白-->
                    <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction" %>
                  </div>
                </td>
              </tr>

          </tbody>
        </table> <!--table範囲終了-->

        <div class = "submit_button mx-auto">
          <%= f.submit "変更を保存" %>
        </div>

        <div class = "withdrawal_link">
          <%= link_to '退会', user_confirm_unsubscribe_path(@user.id) %>
        </div>

      </div> <!--edit_contents閉じ-->
    <% end %> <!--form_with終了-->

  </div> <!--row閉じ-->
</div> <!--container閉じ-->
