<div class = "container">
  <div class = "row">

    <h3 class "title">いいね一覧</h3>

    <% @favorite_list.each do |list| %>

      <div class="col-md-4">
        <div class = "card">
          <div class = "card-body ">

            <div class = "user_profile">
              <div class = "user_profile_image">
                <%= link_to user_path(list.user) do %> <!--リンク化-->
                  <%= image_tag list.user.get_profile_image(700,700), class: 'frofile_image' %><!--ユーザーアイコン-->
                <% end %>
              </div>
              <div class = "user_profile_name">
                <%= link_to user_path(list.user) do %> <!--リンク化-->
                  <%= list.user.name %> <!--名前-->
                <% end %>
              </div>
            </div>

            <%= link_to post_path(list) do %> <!--リンク化-->
              <p><%= image_tag list.get_image, class: 'post_image' %></p>
              <div class = "user_reaction">
                <i class="fa-regular fa-heart"></i> <%= list.favorites.count %>
                &nbsp;&nbsp;<!--空白-->
               <i class="fa-regular fa-comment">&nbsp;<!--空白--></i><%= list.comments.count %>
                &nbsp;<!--空白-->
                <%= list.created_at.strftime('%Y/%m/%d') %><!--投稿日-->
              </div>
            <% end %>

          </div> <!--card-body閉じ-->
        </div>　<!--card m-3閉じ-->
      </div> <!--ccol-md-4閉じ-->

    <% end %>

  </div> <!--row閉じ-->
</div> <!--container閉じ-->
