<!--ユーザー情報-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= @user.introduction %></p>
  <% if @user == current_user %> <!--ログイン中ユーザーにだけ表示-->
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!--ユーザーの投稿一覧-->
<% @user_posts.each do |user_post| %>

  <div>
    <p>投稿ユーザー画像：<%= image_tag user_post.user.get_profile_image(100,100) %></p>
    <p>ユーザーネーム：<%= user_post.user.name %></p>
    <%= link_to post_path(user_post.id) do %> <!--画像リンク化-->
      <%= image_tag user_post.get_image %>
    <% end %>
    <p>タイトル：<%= user_post.title %></p>
    <p>説明：<%= user_post.introduction %></p>
  </div>

<% end %>