<!--ユーザー情報-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= @user.introduction %></p>

  <% if @user == current_user %> <!--ログイン中ユーザーにだけ表示-->
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<div> <!--フォロー機能-->
  <%= render 'public/relationships/follow_btn', user: @user %>
</div>

<div> <!--ユーザーの投稿一覧-->
  <%= render 'public/posts/post_list', posts: @posts %>
</div>


