<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class = "container">

    <ul class="navbar-nav">
      <a><%= link_to 'ロゴ', root_path, class: "navbar-brand" %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ul>

<ul class="navbar-nav ml-auto mb-2 mb-lg-0 ">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <% if user_signed_in? %>

          <span class="d-flex align-items-center">
            <%= current_user.name %> さん、こんにちは！
          </span>

          <li class="nav-item">
            <%= link_to 'トップ', root_path, class: 'nav-link text-center border rounded'%>
          </li>
          <li class="nav-item">
            <%= link_to '投稿フォーム', new_post_path, class: 'nav-link text-center border rounded'%>
          </li>

          <!--検索フォーム ドロップダウン式-->
          <li class="nav-item dropdown">
            <a class="nav-link text-center dropdown-toggle border rounded" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>検索</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item">
                <p><%= render 'public/searches/search', user: @user, posts: @posts %></p>
              </a></li>
            </ul>
          </li>

          <!--天気-->
          <li class="nav-item">
            <a class="nav-link text-center border rounded" href="https://weathernews.jp/onebox/35.651604/139.705455/q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA&v=1671e08ac789d4fc5f0ab768a5efeaefce9bb7f9a787bc06a95de1092ab81e4c&temp=c&lang=ja" target="_blank" rel="noopener noreferrer">渋谷の天気</a>
          </li>

          <!--鉄道情報 ドロップダウン式-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center border rounded" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>鉄道情報</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class = "rails_company">JR</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/21/0" target="_blank" rel="noopener noreferrer">山手線</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/25/0" target="_blank" rel="noopener noreferrer">湘南新宿ライン</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/50/0" target="_blank" rel="noopener noreferrer">埼京線</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class = "rails_company">東京メトロ</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/132/0" target="_blank" rel="noopener noreferrer">銀座線</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/138/0" target="_blank" rel="noopener noreferrer">半蔵門線</a></li>
                <li><a class="dropdown-item text-center" text-center href="https://transit.yahoo.co.jp/diainfo/540/0" target="_blank" rel="noopener noreferrer">副都心線</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class = "rails_company">東急</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/112/0" target="_blank" rel="noopener noreferrer">東横線</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/114/0" target="_blank" rel="noopener noreferrer"田園都市線</a></li>
                <li><hr class="dropdown-divider"></li>
              <li><a class = "rails_company">京王</a></li>
                <li><a class="dropdown-item text-center" href="https://transit.yahoo.co.jp/diainfo/108/0" target="_blank" rel="noopener noreferrer">井の頭線</a></li>
            </ul>
          </li>

          <li>
            <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-center text-secondary border rounded' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-center text-secondary border rounded' %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <%= link_to '管理者ログアウト', destroy_admin_session_path, class: 'nav-link text-center border rounded', method: :delete %>
        <% else %>
          <li>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn text-center btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-center border rounded'  %>
          </li>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-center border rounded' %>
          </li>

        <% end %> <!--if文閉じ-->



    </div> <!--collapse閉じ-->
    </ul> <!--navbar-nav閉じ-->
  </div> <!--container閉じ-->
</nav> <!--navbar閉じ-->